<style>
body {
    background: #ccc;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 24px;
  }


/* Setting Tabs */
.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    margin: 50px ;
    padding: 25px;
}
.tabs input[type="radio"] {
    display: none;
}

/* Inactive Tabs */
.tabs label {
    padding: 15px;
    background: #e2e2e2;
    font-weight: bold;
    font-size: 20px;
}

/* Active Tab */
.tabs .tab {
    width: 100%;
    padding: 20px;
    background: rgb(230, 171, 45);
    order: 1;
    display: none;
    white-space: nowrap;
    overflow-x: scroll;
   
}

.tabs input[type='radio']:checked + label + .tab {
    display: block;
}

.tabs input[type="radio"]:checked + label {
    background: rgb(230, 171, 45);
}

/* Food Table Header */
.foodheader {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: left;
}

.foodheader p {
    border: 1px solid black;
    width: 160px;
    font-size: 28px;
    font-style:italic;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #ffffff;
}

/* Table settings */
.odd {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    
    
}

.odd p {
    border: 1px solid black;
    width: 160px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #a7a4a1;
    
}

.even {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

.even p {
    border: 1px solid black;
    width: 160px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #585858;
}

.green{
    color:green;
}
.red{
    color: red;
}

</style>